<div class="spanhalf">
	<a class="btn btn-info" href="#"><i class="icon-thumbs-up icon-white"></i></a>
	<div>#</div>
</div> 
<div class="span10">
	<div><%= topic_idea.title %></div>
	<div><%= topic_idea.body %></div>
</div>
<div class="span1">
	<%# home_topic.user_id %>
</div>
