<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span12">
		<h2><%= @topic.name %></h2>
		<p><%= @topic.description %></p>
	</div>
</div>
<div class="row">
	Form to create new idea<%# render :partial => "ideas/form" %>
</div>
<div class="row">
	<%= render :partial => "topics/topic_idea", :collection => @ideas %>
</div>
<%# link_to 'Edit', edit_topic_path(@topic) %><%# link_to 'Back', topics_path %>
