<h2>Groups</h2>

<% @groups.each do |group| %>

<div class="row">
	<div class="span12">
		<h2><%= group.title %></h2>
		<p><%= group.description %></p>
	</div>
</div>
 <%= link_to 'Show', group %>
 <%= link_to 'Join Group',group_join_path(group,:user=>current_user), :class=> 'join_group_link'%>
<% end %>
