<div class="row rec-row">
	<div class="spanhalf">
		<a class="btn btn-info" href="#"><i class="icon-thumbs-up icon-white"></i></a>
		<div>#</div>
	</div>
	<div class="span10">
		<div><%= home_idea.title %></div>
		<div><%= home_idea.body %></div>
	</div>
	<div class="span1">
		<%= home_idea.user_id %>
	</div>
</div>
