// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea {padding:10px;border:1px solid #DDD;margin-bottom:10px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

.new-idea-form{height:175px;}
.new-idea-form textarea {height:50px;}
