// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea{margin-left:15px;}
.idea-comment{margin:0px 0px 10px 77px;}
.idea-comment-icon{margin-right:10px;}
.vote-count{text-align:center;}
